In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("./yellow_tripdata_2021-01.csv.gz", nrows=100)

In [10]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [11]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime         str
tpep_dropoff_datetime        str
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag           str
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [12]:
df.shape

(100, 18)

In [20]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:root@localhost:5433/ny_taxi')

In [21]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [22]:
ls

 Volume in drive D is DATA
 Volume Serial Number is 0406-A985

 Directory of D:\Learn\datatalk\DataEngineer_track_DataTalk2026\PracticeDE\week1

01/25/2026  09:22 PM    <DIR>          .
01/25/2026  09:03 PM    <DIR>          ..
01/25/2026  05:43 PM    <DIR>          .ipynb_checkpoints
01/24/2026  01:41 PM                 5 .python-version
01/25/2026  06:06 PM    <DIR>          .venv
01/25/2026  01:32 PM                 0 docker
01/24/2026  09:15 PM               637 Dockerfile
01/24/2026  01:41 PM                83 main.py
01/25/2026  09:22 PM            49,386 notebook.ipynb
01/25/2026  02:20 PM    <DIR>          ny_taxi_postgres_data
01/24/2026  01:48 PM             2,111 output_day_10.parquet
01/25/2026  02:06 PM             2,111 output_day_12.parquet
01/25/2026  02:15 PM               235 pipeline.py
01/25/2026  06:03 PM               326 pyproject.toml
01/24/2026  01:41 PM                 0 README.md
01/25/2026  05:43 PM             1,201 Untitled.ipynb
01/25/2026  06:03 PM           246,712 uv.lock
01/25/2026  09:00 PM        25,031,880 yellow_tripdata_2021-01.csv.gz
              13 File(s)     25,334,687 bytes
               5 Dir(s)  279,637,868,544 bytes free

In [ ]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')